<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingge.springboot.mapper.PurchaseRelationshipMapper">

    <select id="findMyOrder" resultType="com.qingge.springboot.controller.dto.OrderDTO">
        select a.order_id, a.user_evaluate, a.seller_attitude, a.score, a.count, a.received_time, a.create_time, a.deliver_state, b.price, b.name, b.img, b.deal_style from purchase_relationship as a left join product as b on a.product_id = b.product_id
        <where>
            <if test="name != null and name != ''">
                and b.name like concat('%', #{name} ,'%')
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>
